/* NAV */

$menu-font: 'Montserrat', sans-serif;
$menu-font-size: 14px;
$menu-font-weight: 500;
$menu-color: #004289;
$menu-color-hidden: rgba(0, 0, 0, 0.5);
$menu-bg-color: #fff;
$menu-hover: #007bff;
$menu-active: #007bff;
$menu-target: #007bff;

$overlay-font: 'Open Sans', sans-serif;
$overlay-font-size: 14px;
$overlay-font-weight: 500;
$overlay-line-height: 1.5;
$overlay-color: #fff;
$overlay-bg-color1: rgba(19, 39, 57, 0.5);
$overlay-bg-color2: rgba(19, 39, 57, 0.9);
$overlay-hover: #007bff;

/* MAIN */

$main-font: 'Montserrat', sans-serif;
$main-font-size: 48px;
$main-font-weight: 700;
$main-color: #fff;
$main-bg-color: #1445b3;

/* SECTION */

$p-color: #444;
$p-font: 'Open Sans', sans-serif;
$p-font-size: 15px;
$p-font-weight: 400;
$p-line-height: 1.5;

$h2-color: #283d50;
$h2-font: 'Montserrat', sans-serif;
$h2-font-size: 36px;
$h2-font-weight: 500;

$h3-color: #212529;
$h3-font: 'Open Sans', sans-serif;
$h3-font-size: 15px;
$h3-font-weight: 400;
$h3-line-height: 1.5;

$h4-color: #556877;
$h4-font: 'Open Sans', sans-serif;
$h4-font-size: 15px;
$h4-font-weight: 400;
$h4-line-height: 1.5;

$menu-font-size: 14px;
$menu-font-weight: 500;
$menu-color: #004289;
$menu-color-hidden: rgba(0, 0, 0, 0.5);
$menu-bg-color: #fff;
$menu-hover: #007bff;
$menu-active: #007bff;
$menu-target: #007bff;

/* CARDS */

$whitecard-h4-color: #000;
$whitecard-p-color: #212529;

$bluecard-h4-color: #000;
$bluecard-p-color: #212529;

/* CHOOSE US */

$choose-bg-color: #004a99;
$choose-h2-color: #fff;

/* FOOTER */

$footer-color: #eee;
$footer-bg-color: #004a99;
$footer-font: 'Open Sans', sans-serif;
$footer-font-size: 14px;
$footer-font-weight: 400;
$footer-line-height: 1.5;
$footer-hover: #007bff;

/* CONTACT US */
$cnt-font: 'Open Sans', sans-serif;
$cnt-color-1:#007bff;
$cnt-color-2: #004a99;
$font-color: #495057;
$cnt_border: #ced4da;